<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="http://localhost:63342/Ashwin/Test.html?_ijt=gcpa3eairrdlr0q63lo157qi01">Home</a></li>
  <li><a class="active" href="#news">News</a></li>
  <li><a href="/Ashwin/Contact.html?_ijt=sn75jqphh5vuc2jl9q8a4q5tu4">Download</a></li>
  <li><a href="/Ashwin/About.html?_ijt=vupub7drbga5eelvmvhjrdtpk8">About</a></li>
  <li><a href="/Ashwin/Other.html?_ijt=23r891iov0r0iqu53cgbp60s7k">Other Packages</a></li>

</ul>
<h1>News</h1>

<br><b>The pre version of this numbertheory package has been released!!!</b><br>
<h2>Coming up</h2>
<br>Version 1<br>
<a href="http://localhost:63342/Ashwin/Other.html?_ijt=23r891iov0r0iqu53cgbp60s7k">Other Math Packages for Python</a>
<br><b>Version 1 is coming soon</b><br>
</body>
</html>
