<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/Ashwin/news.html?_ijt=gcpa3eairrdlr0q63lo157qi01#news">News</a></li>
  <li><a href="/Ashwin/Contact.html?_ijt=sn75jqphh5vuc2jl9q8a4q5tu4">Download</a></li>
  <li><a href="/Ashwin/About.html?_ijt=vupub7drbga5eelvmvhjrdtpk8">About</a></li>
  <li><a href="/Ashwin/Other.html?_ijt=23r891iov0r0iqu53cgbp60s7k">Other Packages</a></li>

</ul>
<h1>Number Theory package for Python</h1>
Welcome to the home page of the <b>most robust</b> number theory package for python in the world!
<br><br>
<b>The pre version has been released.</b>

</body>
</html>
